.page-indicator {
    display: block;
    background: var(--tertiary-l);
    width: 2.5px;
    height: 300px;
    transform: translate(-50%, -50%);
    left: 2.5%;
    top: 50%;
    position: fixed;
    border-radius: 10px;
    z-index: 5;
    .active-ind {
        background-color: var(--primary-l);
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}